@font-face {
    font-family: 'Press Start 2P';
    src: url(/fonts/PressStart2P-Regular.ttf);
}

body {
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #fac650;
    text-align: center;
    box-shadow: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    background-color: #111720;
    width: 60vw;
    border-radius: 15px;
    margin-top: 50px;
}

.scoreboard-title {
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 28px;
    color: #fac650;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.player,
.computer {
    background-color: rgb(11, 14, 20, .8);
    font-family: 'Press Start 2P', cursive, sans-serif;
    margin: 30px;
    height: 200px;
    width: 200px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerScore,
.computerScore {
    font-size: 3.5em;
}

.player-text,
.computer-text {
    padding-top: 15px;
    color: #fac650;
}

.message {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: #fac650;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    /* margin-top: 50px; */
}

#rock,
#paper,
#scissors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: 70px;
    margin: 50px;
    margin-top: 100px;
    padding: 50px;
    border: none;
    border-radius: 10px;
    background-color: #393e46;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    background-color: #565b62;
}

footer {
    text-align: center;
    font-size: 1.5rem;
    color:#fac650;
    margin-top: auto;
}