*,
*::before,
*::after {
  box-sizing: border-box;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 8rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.25em 0.5em;
  cursor: pointer;

  margin-top: 2rem;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
